# Build directories
**/bin/
**/dist/
**/node_modules/

# Go build files
**/server

# Package manager files
**/package-lock.json  # We use pnpm now
**/.pnpm-store/
.pnpm-debug.log*

# Test coverage files
coverage.out
coverage.html

## Environment Variables
.env*
!*.example

# Intellij Configs
**/.idea/**

# SQLite
*.db